.landing-page-container.user-page-width {
    max-width: 1500px;
}

.main-container {
    display: flex;
    background-color: #f5f5f5;
    margin-top: 20px;
    padding: 10px;
}

.minor-left-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
}

.major-right-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px;
}

.left-aside {
    border-style: solid;
    border-width: 2px;
    border-color: #cecece;
    border-radius: 10px;
}

.left-aside {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 88vh;
    /* align-items: center; */
}

.user-name-and-icon, .section {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.user-name-and-icon {
    padding: 15px;
    margin-bottom: 100px;
}

.user-name-and-icon p.sub-title {
    margin-left: 10px;
}

.user-icon {
    height: 40px;
}

.user-icons {
    height: 30px;
}

.sub-title.message {
    margin: 25px;
}

.section p.left-aside-text {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #808080;
    margin-left: 10px;
}
.cards-container {
    display: flex;
    justify-content: space-between;
}
.section-card {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #cecece; */
    border-radius: 10px;
    height: 140px;
    width: 360px;
    margin: 0 20px 20px 20px;
    margin-left: 10px;  
    margin-right: 10px;
}

.section-card.today {
    background-color: #26ec58;
}

.section-card.week {
    background-color: #6366F1;
}

.section-card.month {
    background-color: #FFB86C;
}

.section-card:first-child {
    margin-left: 0;
}

.section-card:last-child {
    margin-right: 0;
}

.section-card p.text {
    margin: 0;
}

.section-card p.text, .number {
    color: white;
}

.section-card p.text.number {
    margin-top: 10px;
}

.table-container {
    border-radius: 10px;
}

.table-title{
    margin-top: 25px;
    font-weight: 400;
    font-size: 15px; 
    color: white;
    text-align: left;
    padding: 0 10px 0 10px;
}

.jobs-message-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #cecece;
    border-radius: 10px;
    height: 65vh;
    padding: 5px;
}

/* tr.table-row-card td {
    border-bottom-width: 1px;
    border-bottom-color: #cecece;
    border-bottom-style: solid;
} */

.table-item {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    height: 30px;
    color: #808080;
    text-align: left;
    font-size: 10px;
}

tbody tr.table-row-card:nth-child(odd) {
    background-color:#f4f4f4;
}

tbody tr.table-row-card:nth-child(even) {
    background-color: #fff;  /* White for even rows */
}

tr.table-head{
    background-color: #007AFF;
}
tr.table-head th:first-child {
    border-top-left-radius: 5px; /* Apply to the first <th> */
}

tr.table-head th:last-child {
    border-top-right-radius: 5px; /* Apply to the last <th> */
}

.pagination {
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #cecece;
    border-radius: 10px;
    background-color: white;
    height: 29px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    width: fit-content;
}

.pagination-cell {
    padding: 0 10px 0 10px;
}

.pagination-cell.current {
    background-color: #6366F1;
    height: 28px;
    display: flex;
    align-items: center;
}

.pagination-cell.current span {
    color: white;
}

.pagination-cell a, .pagination-cell span {
    font-size: 13px;
    color: #cecece;
}

.form-container.change-user {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
}