* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Roboto, sans-serif;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
}

button.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 50px;
  background-color: #F19763;
  border: none;
  border-radius: 10px;
  color: white;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 100%;
  max-width: 1440px;
  margin-top: 20px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro, .remote, .dot {
  font-size: 30px;
  font-weight: bold;
  line-height: 0;
}

.dot {
  font-size: 60px;
  color: #6366F1;
  margin-bottom: 22px;
}

.right-header-inner-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 365px;
}

button.button {
  height: 40px;
  width: 140px;
  color: white;
  font-weight: bold;
  background: #6366F1;
  border: none;
  border-radius: 10px;
  letter-spacing: 1px;
}

/* First section ========================================*/
.component-texture {
  width: 285px;
  height: 248px;
  top: 36px;
  left: 1068px;
}

.first-section {
  display: flex;
  max-height: 77vh;
}

.left-container {
  width: 50%;
  padding-top: 50px;
}

.main-title {
  font-weight: 900;
  font-size:50px;
}

.title {
  font-weight: 800;
  font-size:40px;
}

.sub-title {
  margin-top: 25px;
  font-weight: 700;
  font-size:25px;
  color: #808080;
}

.text {
  font-weight: 500;
  font-size:20px;
  color: #808080;
}
.left-container ul{
  margin-top: 20px;
  margin-left: 25px;
}

.left-container ul li {
  margin-top: 5px;
  font-weight: 500;
  font-size:22px;
  color: #808080;
}

/* Add media query ---------- */
.right-container {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  padding-left: 100px;
}

img.rectangle {
  position: relative;
  top: -632px;
  left: 40px;
  width: 405px;
  height: 376px;
  z-index: -3;
}

img.middle-texture {
  position: relative;
  top: -412px;
  left: 181px;
  z-index: -2;
}

img.man {
  position: relative;
  left: 25px;
  width: 450px;
}

.position-container-one {
  position: absolute;
  top: 327px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  border-style: solid;
  border-color: #cecece;
  border-width: 2px;
  border-radius: 10px;
  width: 158px;
  height: 34px;
}

.position-container-two {
  position: absolute;
  top: 386px;
  left: 31px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  border-style: solid;
  border-color: #cecece;
  border-width: 2px;
  border-radius: 10px;
  width: 162px;
  height: 34px;
}

.check-circle {
  height: 20px;
  width: 20px;
}
/* Add media query --------- */
/* Second section ========================================*/
.second-section {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.top-sub-section {
  display: flex;
  justify-content: space-around;
}

.bottom-sub-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 70px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 280px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #cecece;
}

img.section-icon {
  margin-bottom: 10px;
}

p.text.alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Third section ========================================*/
.third-section {
  display: flex;
  max-height: 100vh;
  margin-top: 80px;
  max-height: 90vh;
}

img.woman {
  position: relative;
  left: -79px;
  width: 650px;
}

img.second-middle-texture {
  position: relative;
  top: -412px;
  left: 45px;
  z-index: -2;
}

img.second-rectangle {
  position: relative;
  top: -632px;
  left: 40px;
  width: 460px;
  height: 376px;
  z-index: -3;
}

.right-container.new {
  display: flex;
  flex-direction: column;
}

.text-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}

.text-section img.check-circle {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

/* Fourth section ========================================*/
.fourth-section {
  display: flex;
  max-height: 100vh;
}

.woman-2 {
  position: relative;
  left: -119px;
  width: 650px;
}

.third-middle-texture {
  position: relative;
  top: -433px;
  left: 104px;
  z-index: -2;
}

.third-rectangle {
  position: relative;
  top: -632px;
  left: 40px;
  width: 460px;
  height: 376px;
  z-index: -3;
}

.fourth-section.left-container{
  display: flex;
  flex-direction: column;
}

.fourth-section p.text {
  margin-top: 40px;
}

.fourth-section button.main-button {
  margin-top: 50px;
}