* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Add this to include padding in the width */
  font-family: Roboto, sans-serif;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

button.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 50px;
  background-color: #F19763;
  border: none;
  border-radius: 10px;
  color: white;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  width: 100%;
  margin-top: 20px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro, .remote, .dot {
  font-size: 30px;
  font-weight: bold;
  line-height: 0;
}

.dot {
  font-size: 60px;
  color: #6366F1;
  margin-bottom: 22px;
}

.right-header-inner-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 365px;
}

.text {
  font-size: 20px;
  font-weight: bold;
}

button.button {
  height: 40px;
  width: 140px;
  color: white;
  font-weight: bold;
  background: #6366F1;
  border: none;
  border-radius: 10px;
  letter-spacing: 1px;
}

/*first section ========================================*/
.component-texture {
  width: 285px;
  height: 248px;
  top: 36px;
  left: 1068px;
}

.first-section {
  display: flex;
  width: 100%;
  /* place-items: center; */
}

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.main-title {
  font-weight: 900;
  font-size:50px;
}

.sub-title {
  margin-top: 25px;
  font-weight: 500;
  font-size:25px;
  color: #808080;
}
.left-container ul{
  margin-top: 20px;
  margin-left: 25px;
}

.left-container ul li {
  margin-top: 5px;
  font-weight: 500;
  font-size:22px;
  color: #808080;
}

/* Add media query ---------- */
.right-container {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
}

img.rectangle {
  position: relative;
  top: -593px;
  left: 61px;
  width: 400px;
  height: 337px;
  z-index: -3;
}

img.middle-texture {
  position: relative;
  top: -412px;
  left: 181px;
  z-index: -2;
}

img.man {
  position: relative;
  left: 25px;
  width: 419px;
}

.position-container-one {
  position: absolute;
  top: 327px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  border-style: solid;
  border-color: #cecece;
  border-width: 2px;
  border-radius: 10px;
  width: 158px;
  height: 34px;
}

.position-container-two {
  position: absolute;
  top: 386px;
  left: 31px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  border-style: solid;
  border-color: #cecece;
  border-width: 2px;
  border-radius: 10px;
  width: 162px;
  height: 34px;
}

.check-circle {
  height: 20px;
  width: 20px;
}
/* Add media query --------- */
