@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

/* STYLE GUIDES */
:root {
  --grey: rgba(109, 125, 139, 1);
  --colorsyellow: rgba(255, 204, 0, 1);
}
/* STYELE.CSS */

.landing-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 3116px;
  position: relative;
}

.landing-page .frame {
  position: absolute;
  width: 1373px;
  height: 639px;
  top: 182px;
  left: 36px;
}

.landing-page .group {
  width: 1381px;
  height: 639px;
}

.landing-page .overlap {
  position: relative;
  width: 1373px;
  height: 640px;
  top: -1px;
}

.landing-page .overlap-group {
  position: absolute;
  width: 1353px;
  height: 640px;
  top: 0;
  left: 20px;
}

.landing-page .rectangle {
  position: absolute;
  width: 504px;
  height: 494px;
  top: 146px;
  left: 756px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(0, 122, 255) 24.5%, rgb(0, 73.2, 153) 100%);
}

.landing-page .find-the-best-remote {
  position: absolute;
  width: 748px;
  top: 0;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #000000;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 62px;
  letter-spacing: 6.2px;
  line-height: normal;
}

.landing-page .component-textura {
  position: absolute;
  width: 285px;
  height: 248px;
  top: 36px;
  left: 1068px;
}

.landing-page .man {
  position: absolute;
  width: 489px;
  height: 610px;
  top: 30px;
  left: 747px;
  object-fit: cover;
}

.landing-page .overlap-group-wrapper {
  position: absolute;
  width: 282px;
  height: 63px;
  top: 401px;
  left: 506px;
}

.landing-page .overlap-group-2 {
  position: relative;
  width: 284px;
  height: 65px;
  top: -1px;
  left: -1px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #cecece;
  box-shadow: 0px 4px 4px #00000040;
}

.landing-page .text-wrapper {
  position: absolute;
  top: 14px;
  left: 54px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #808080;
  font-size: 25px;
  letter-spacing: 1.25px;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .icon-action-check {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 19px;
  left: 24px;
}

.landing-page .img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
}

.landing-page .overlap-wrapper {
  position: absolute;
  width: 401px;
  height: 63px;
  top: 496px;
  left: 506px;
}

.landing-page .overlap-2 {
  position: relative;
  width: 403px;
  height: 65px;
  top: -1px;
  left: -1px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #cecece;
  box-shadow: 0px 4px 4px #00000040;
}

.landing-page .react-frontend {
  position: absolute;
  width: 331px;
  top: 15px;
  left: 54px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #808080;
  font-size: 25px;
  letter-spacing: 1.25px;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .icon-action-check-wrapper {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 17px;
  left: 24px;
}

.landing-page .easy-subscription {
  position: absolute;
  width: 429px;
  top: 407px;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #808080;
  font-size: 35px;
  letter-spacing: 3.5px;
  line-height: normal;
}

.landing-page .p {
  position: absolute;
  width: 583px;
  top: 215px;
  left: 23px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #808080;
  font-size: 35px;
  letter-spacing: 3.5px;
  line-height: normal;
}

.landing-page .div-wrapper {
  position: absolute;
  width: 357px;
  height: 67px;
  top: 573px;
  left: 24px;
  background-image: url(./img/button.svg);
  background-size: 100% 100%;
}

.landing-page .text-wrapper-2 {
  position: absolute;
  width: 150px;
  top: 23px;
  left: 102px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 2.4px;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .group-wrapper {
  position: absolute;
  width: 1204px;
  height: 505px;
  top: 950px;
  left: 118px;
}

.landing-page .group-2 {
  position: relative;
  width: 1216px;
  height: 505px;
}

.landing-page .text-wrapper-3 {
  position: absolute;
  width: 525px;
  top: -1px;
  left: 22px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #5f5d5d;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-weight: 800;
  color: #5f5d5d;
  font-size: 45px;
  letter-spacing: 4.5px;
  line-height: normal;
}

.landing-page .text-wrapper-4 {
  position: absolute;
  width: 569px;
  top: 67px;
  left: 23px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #5f5d5d;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-weight: 800;
  color: #5f5d5d;
  font-size: 45px;
  letter-spacing: 4.5px;
  line-height: normal;
}

.landing-page .overlap-3 {
  position: absolute;
  width: 326px;
  height: 292px;
  top: 214px;
  left: -1px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #cecece;
  box-shadow: 0px 4px 4px #00000040;
}

.landing-page .img-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 73px;
  left: 142px;
}

.landing-page .icon-action-face {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 3px;
  left: 3px;
}

.landing-page .text-wrapper-5 {
  position: absolute;
  width: 233px;
  top: 136px;
  left: 54px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #808080;
  font-size: 20px;
  letter-spacing: 2.4px;
  line-height: 30px;
  white-space: nowrap;
}

.landing-page .overlap-4 {
  position: absolute;
  width: 326px;
  height: 292px;
  top: 214px;
  left: 439px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #cecece;
  box-shadow: 0px 4px 4px #00000040;
}

.landing-page .icon-action-work {
  position: absolute;
  width: 33px;
  height: 32px;
  top: 4px;
  left: 3px;
}

.landing-page .text-wrapper-6 {
  position: absolute;
  width: 229px;
  top: 143px;
  left: 47px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #808080;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2.4px;
  line-height: 30px;
  white-space: nowrap;
}

.landing-page .overlap-group-3 {
  position: absolute;
  width: 326px;
  height: 292px;
  top: 214px;
  left: 879px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #cecece;
  box-shadow: 0px 4px 4px #00000040;
}

.landing-page .text-wrapper-7 {
  position: absolute;
  width: 229px;
  top: 129px;
  left: 50px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #808080;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2.4px;
  line-height: 30px;
}

.landing-page .icon-action-check-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 76px;
  left: 137px;
}

.landing-page .icon-action-check-3 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 2px;
  left: 2px;
}

.landing-page .text-wrapper-8 {
  position: absolute;
  width: 509px;
  top: 38px;
  left: 682px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #808080;
  font-size: 30px;
  letter-spacing: 3.6px;
  line-height: 30px;
}

.landing-page .icon-navigation {
  position: absolute;
  width: 40px;
  height: 24px;
  top: 355px;
  left: 368px;
}

.landing-page .icon-navigation-2 {
  position: absolute;
  width: 40px;
  height: 24px;
  top: 355px;
  left: 802px;
}

.landing-page .frame-2 {
  position: absolute;
  width: 1363px;
  height: 583px;
  top: 1608px;
  left: -23px;
}

.landing-page .group-3 {
  width: 1373px;
  height: 583px;
}

.landing-page .overlap-5 {
  position: relative;
  width: 1362px;
  height: 583px;
}

.landing-page .overlap-6 {
  position: absolute;
  width: 1362px;
  height: 583px;
  top: 0;
  left: 0;
}

.landing-page .button {
  position: absolute;
  width: 357px;
  height: 67px;
  top: 516px;
  left: 794px;
}

.landing-page .text-wrapper-9 {
  width: 150px;
  top: 539px;
  left: 908px;
  font-size: 20px;
  letter-spacing: 2.4px;
  white-space: nowrap;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  line-height: normal;
}

.landing-page .text-wrapper-10 {
  position: absolute;
  width: 569px;
  top: 70px;
  left: 793px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #5f5d5d;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-weight: 800;
  color: #5f5d5d;
  font-size: 45px;
  letter-spacing: 4.5px;
  line-height: normal;
}

.landing-page .component {
  position: absolute;
  width: 810px;
  height: 583px;
  top: 0;
  left: 0;
}

.landing-page .overlap-group-4 {
  position: relative;
  width: 787px;
  height: 583px;
  left: 23px;
}

.landing-page .rectangle-2 {
  position: absolute;
  width: 566px;
  height: 463px;
  top: 120px;
  left: 138px;
}

.landing-page .texture {
  position: absolute;
  width: 285px;
  height: 248px;
  top: 118px;
  left: 159px;
}

.landing-page .istockphoto {
  position: absolute;
  width: 787px;
  height: 583px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.landing-page .icon-action-check-4 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 304px;
  left: 788px;
}

.landing-page .icon-action-check-5 {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 18px;
  left: 6px;
}

.landing-page .icon-action-check-6 {
  position: absolute;
  width: 35px;
  height: 47px;
  top: 394px;
  left: 788px;
}

.landing-page .text-wrapper-11 {
  position: absolute;
  width: 543px;
  top: 210px;
  left: 793px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #808080;
  font-size: 30px;
  letter-spacing: 3.6px;
  line-height: 30px;
}

.landing-page .text-wrapper-12 {
  position: absolute;
  width: 468px;
  top: 304px;
  left: 849px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #808080;
  font-size: 20px;
  letter-spacing: 2.4px;
  line-height: 30px;
  white-space: nowrap;
}

.landing-page .text-wrapper-13 {
  position: absolute;
  width: 478px;
  top: 393px;
  left: 851px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #808080;
  font-size: 20px;
  letter-spacing: 2.4px;
  line-height: 30px;
}

.landing-page .frame-3 {
  position: absolute;
  width: 1278px;
  height: 488px;
  top: 2343px;
  left: 142px;
}

.landing-page .group-4 {
  width: 1286px;
  height: 488px;
}

.landing-page .overlap-7 {
  position: relative;
  width: 1279px;
  height: 488px;
  left: -1px;
}

.landing-page .overlap-8 {
  position: absolute;
  width: 357px;
  height: 67px;
  top: 421px;
  left: 1px;
  background-image: url(./img/button.svg);
  background-size: 100% 100%;
}

.landing-page .text-wrapper-14 {
  width: 150px;
  top: 23px;
  left: 114px;
  font-size: 20px;
  letter-spacing: 2.4px;
  white-space: nowrap;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  line-height: normal;
}

.landing-page .text-wrapper-15 {
  position: absolute;
  width: 556px;
  top: 335px;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #808080;
  font-size: 20px;
  letter-spacing: 2.4px;
  line-height: 30px;
}

.landing-page .overlap-group-5 {
  position: absolute;
  width: 1279px;
  height: 488px;
  top: 0;
  left: 0;
}

.landing-page .text-wrapper-16 {
  position: absolute;
  width: 624px;
  top: 211px;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #808080;
  font-size: 30px;
  letter-spacing: 3.6px;
  line-height: 30px;
}

.landing-page .rectangle-3 {
  position: absolute;
  width: 483px;
  height: 417px;
  top: 71px;
  left: 746px;
}

.landing-page .texture-2 {
  position: absolute;
  width: 285px;
  height: 248px;
  top: 84px;
  left: 846px;
}

.landing-page .women {
  position: absolute;
  width: 711px;
  height: 488px;
  top: 0;
  left: 568px;
  object-fit: cover;
}

.landing-page .text-wrapper-17 {
  position: absolute;
  width: 567px;
  top: 68px;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #5f5d5d;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-weight: 800;
  color: #5f5d5d;
  font-size: 45px;
  letter-spacing: 4.5px;
  line-height: normal;
}

.landing-page .frame-4 {
  position: absolute;
  width: 1440px;
  height: 159px;
  top: 2957px;
  left: 0;
}

.landing-page .footer-box-wrapper {
  height: 159px;
}

.landing-page .footer-box {
  position: relative;
  width: 1440px;
  height: 159px;
  background-color: #000000;
}

.landing-page .overlap-group-6 {
  position: absolute;
  width: 162px;
  height: 58px;
  top: 43px;
  left: 39px;
}

.landing-page .text-wrapper-18 {
  position: absolute;
  width: 104px;
  top: 19px;
  left: 58px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0.9px;
  line-height: normal;
}

.landing-page .text-wrapper-19 {
  position: absolute;
  width: 19px;
  top: 0;
  left: 46px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #6366f1;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #6366f1;
  font-size: 50px;
  letter-spacing: 1.5px;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-20 {
  position: absolute;
  width: 49px;
  top: 19px;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0.9px;
  line-height: normal;
}

.landing-page .text-wrapper-21 {
  position: absolute;
  width: 214px;
  top: 101px;
  left: 627px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px transparent;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1.44px;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .frame-5 {
  position: absolute;
  width: 1440px;
  height: 84px;
  top: 0;
  left: 0;
}

.landing-page .overlap-9 {
  position: relative;
  width: 1442px;
  height: 86px;
  top: -1px;
  left: -1px;
  border: 1px solid;
  border-color: #ffffff;
}

.landing-page .overlap-10 {
  position: absolute;
  width: 175px;
  height: 53px;
  top: 17px;
  left: 1206px;
  background-image: url(./img/button-2.svg);
  background-size: 100% 100%;
}

.landing-page .text-wrapper-22 {
  width: 102px;
  top: 15px;
  left: 35px;
  font-size: 14px;
  letter-spacing: 1.68px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  line-height: normal;
}

.landing-page .text-wrapper-23 {
  position: absolute;
  width: 83px;
  top: 33px;
  left: 923px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #372d2d;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #372c2c;
  font-size: 20px;
  letter-spacing: 2.4px;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-24 {
  position: absolute;
  width: 83px;
  top: 33px;
  left: 1053px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #372d2d;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #372c2c;
  font-size: 20px;
  letter-spacing: 2.4px;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .group-5 {
  position: absolute;
  width: 168px;
  height: 58px;
  top: 6px;
  left: 60px;
}

.landing-page .overlap-group-7 {
  position: relative;
  width: 162px;
  height: 58px;
  top: -1px;
  left: -1px;
}

.landing-page .text-wrapper-25 {
  position: absolute;
  width: 104px;
  top: 19px;
  left: 58px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #372d2d;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #372c2c;
  font-size: 30px;
  letter-spacing: 0.9px;
  line-height: normal;
}

.landing-page .text-wrapper-26 {
  position: absolute;
  width: 49px;
  top: 19px;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #372d2d;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #372c2c;
  font-size: 30px;
  letter-spacing: 0.9px;
  line-height: normal;
}

