<div class="header">
  <a href="{% url 'home-page' %}">
    <div class="logo">
        <p class="pro">Pro</p>
        <p class="dot">.</p>
        <p class="remote">remote</p>
    </div>
  </a>
    <div class="right-header-inner-container">
      <a href="{% url 'job-list-page' %}"><p class="text">Jobs</p></a>
      <p class="text">About</p>
      <a href="{% url 'signin-page' %}"><p class="text">Sign In</p></a>
      <button class="button">Sign Up Now</button>
    </div>
  </div>
  {% if page != 'sigup' or page != 'signin'%}
    {% if messages %}
      {% for message in messages %}
          <p class="message-container">{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endif %}