{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="{% static 'css/home/home_page.css' %}" rel="stylesheet">
    <title>Job.remote</title>
</head>
<body>
      <div class="landing-page">
        <div class="div">
          <div class="frame">
            <div class="group">
              <div class="overlap">
                <div class="overlap-group">
                  <div class="rectangle"></div>
                  <p class="find-the-best-remote">Find the Best Remote <br />Jobs Overseas Fast</p>
                  <img class="component-textura" src="{% static 'images/texture.svg' %}" />
                  <img class="man" src="{% static 'images/man.png' %}" />
                  <div class="overlap-group-wrapper">
                    <div class="overlap-group-2">
                      <div class="text-wrapper">Java Developer</div>
                      <div class="icon-action-check"><img class="img" src="{% static 'images/check-circle-24px.svg' %}" /></div>
                    </div>
                  </div>
                  <div class="overlap-wrapper">
                    <div class="overlap-2">
                      <div class="react-frontend">React frontend Developer</div>
                      <div class="icon-action-check-wrapper"><img class="img" src="{% static 'images/check-circle-24px.svg' %}" /></div>
                    </div>
                  </div>
                </div>
                <div class="easy-subscription">Easy Subscription<br />Quick Application<br />Everything Free</div>
                <p class="p">
                  The only platform you need to accesllerate your applications to companies in different parts of the
                  world 🌎
                </p>
                <div class="div-wrapper"><div class="text-wrapper-2">Sign Up Now</div></div>
              </div>
            </div>
          </div>
          <div class="group-wrapper">
            <div class="group-2">
              <div class="text-wrapper-3">Only Three</div>
              <div class="text-wrapper-4">Steps to Start Applying</div>
              <div class="overlap-3">
                <div class="img-wrapper"><img class="icon-action-face" src="{% static 'images/face-unlock-24px.svg' %}" /></div>
                <div class="text-wrapper-5">Create your account</div>
              </div>
              <div class="overlap-4">
                <div class="img-wrapper"><img class="icon-action-work" src="{% static 'images/work-24px.svg' %}" /></div>
                <div class="text-wrapper-6">Access the job posts</div>
              </div>
              <div class="overlap-group-3">
                <p class="text-wrapper-7">Apply directly on the company’s platform</p>
                <div class="icon-action-check-2">
                  <img class="icon-action-check-3" src="{% static 'images/check-circle-outline-24px.svg' %}" />
                </div>
              </div>
              <p class="text-wrapper-8">Follow all the steps then start applying without costs</p>
              <img class="icon-navigation" src="{% static 'images/arrow-forward-24px.svg' %}" />
              <img class="icon-navigation-2" src="{% static 'images/arrow-forward-24px.svg' %}" />
            </div>
          </div>
          <div class="frame-2">
            <div class="group-3">
              <div class="overlap-5">
                <div class="overlap-6">
                  <img class="button" src="{% static 'images/button.svg' %}" />
                  <div class="text-wrapper-9">Sign Up Now</div>
                  <p class="text-wrapper-10">Why Job Seekers love Our Platform?</p>
                  <div class="component">
                    <div class="overlap-group-4">
                      <img class="rectangle-2" src="{% static 'images/rectangle-39.svg' %}" />
                      <img class="texture" src="{% static 'images/texture.svg' %}" />
                      <img class="istockphoto" src="{% static 'images/women.png' %}" />
                    </div>
                  </div>
                  <div class="icon-action-check-4">
                    <img class="icon-action-check-5" src="{% static 'images/check-circle-24px.svg' %}" />
                  </div>
                  <img class="icon-action-check-6" src="{% static 'images/image.svg' %}" />
                  <p class="text-wrapper-11">The main goal is to put in front the best job opportunities quick.</p>
                </div>
                <p class="text-wrapper-12">With easy authentication, you won’t need to place a lot of information</p>
                <p class="text-wrapper-13">
                  Straight forward, as soon the user authenticate, they will access the jobs board.
                </p>
              </div>
            </div>
          </div>
          <div class="frame-3">
            <div class="group-4">
              <div class="overlap-7">
                <div class="overlap-8"><div class="text-wrapper-14">Sign Up Now</div></div>
                <p class="text-wrapper-15">
                  This and much more is being implemented for you speed your job applications.
                </p>
                <div class="overlap-group-5">
                  <p class="text-wrapper-16">
                    You can easily apply for multiple jobs positions with tailored messages and different curriculums
                  </p>
                  <img class="rectangle-3" src="{% static 'images/rectangle-40.svg' %}" />
                  <img class="texture-2" src="{% static 'images/texture.svg' %}" />
                  <img class="women" src="{% static 'images/women-2.png' %}" />
                </div>
                <p class="text-wrapper-17">Apply for More Jobs in Less Time</p>
              </div>
            </div>
          </div>
          <div class="frame-4">
            <div class="footer-box-wrapper">
              <div class="footer-box">
                <div class="overlap-group-6">
                  <div class="text-wrapper-18">remote</div>
                  <div class="text-wrapper-19">.</div>
                  <div class="text-wrapper-20">Pro</div>
                </div>
                <p class="text-wrapper-21">Copywrite 2024 by Elias Prado</p>
              </div>
            </div>
          </div>
          <div class="frame-5">
            <div class="overlap-9">
              <div class="overlap-10"><div class="text-wrapper-22">Sign Up Now</div></div>
              <div class="text-wrapper-23">About</div>
              <div class="text-wrapper-24">Sign In</div>
              <div class="group-5">
                <div class="overlap-group-7">
                  <div class="text-wrapper-25">remote</div>
                  <div class="text-wrapper-19">.</div>
                  <div class="text-wrapper-26">Pro</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>