{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="job-list-search-container">
    <form method="get" action="{% url 'job-list-page' %}"> <!-- Ensure the action points to the correct URL -->
        <input type="text" name="query" placeholder="Search for a job" class="search-input">
        <button type="submit" class="search-button">Search</button>
    </form>
</div>
<div class="main-container">
    <div class="outter-left-container">
    <div class="minor-left-container">
        {% for single_job in jobs %}
        <div class="job-list-card {% if single_job.id == job.id %} set-card {% endif %}">
            <a href="{% url 'job-detail-page' single_job.pk %}">
                <p class="job-list-sub-title">{{ single_job.job_title|slice:"24" }}</p>
                <p class="job-list-main-text">{{ single_job.company_name }}</p>
                <p class="job-list-main-text sm">{{ single_job.location }}</p>
                <p class="job-list-text">{{ single_job.job_description|slice:":100" }}...</p>
            </a>
        </div>
        {% endfor %}
    </div>
    <button id="load-more-button" class="load-more">Load More</button>
</div>
    <div class="major-right-container">
        <div class="inner-container">
            <p class="sub-title">{{ job.job_title }}</p>
            <p class="job-list-main-text">{{ job.company_name }}</p>
            <p class="job-list-main-text sm">{{ job.location }}</p>
            <div class="application-container">
                <a href="{{ job.url}}" target=”_blank”>
                 <button class="button job-detail">Apply on company website</button>
                </a>
                <img class="favorite-button" src="{% static 'images/favorite_border.svg'%}" alt="">
            </div>
            <p class="job-list-text">{{ job.job_description|slice:":1420" }}...</p>
        </div>
    </div>
</div>
{% endblock %}
