{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="main-container">
        <div class="left-container">
            <div class="header singn">
                <a href="{% url 'home-page' %}">
                    <div class="logo">
                        <p class="pro">Pro</p>
                        <p class="dot">.</p>
                        <p class="remote">remote</p>
                    </div>
                </a>
            </div>
            <form method="post" class="form-container">
                {% csrf_token %}
                <p class="form-title">
                    Sign Up
                </p>
                {{ form.username }}
                {{ form.email }}
                {{ form.password1 }}
                {{ form.password2 }}
                <button class="form-button">
                    Register
                </button>
                {% if messages %}
                    {% for message in messages %}
                        <p class="message-container sign">{{message}}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
        <div class="right-container">
            <img class="signup-image" src="{% static 'images/signup_image.png' %}" alt=""/>
        </div>
    </div>
{% endblock content %}