{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main-container">
    <div class="minor-left-container">
        <div class="left-aside">
            <div class="user-name-and-icon">
                <!-- <img class="user-icon" src="{% static 'images/user_avatar_icon.png'%}" alt=""> -->
                <p class="sub-title">Hello John Doe</p>
            </div>
            <div class="user-utils-section">
                <div class="section">
                    <img src="{% static 'images/tool_icon.svg'%}" alt="" class="user-icons">
                    <p class="left-aside-text">Edit User Account</p>
                </div>
                <div class="section">
                    <img src="{% static 'images/download_icon.svg'%}" alt="" class="user-icons">
                    <p class="left-aside-text">Download Applications</p>
                </div>
                <div class="section">
                    <img src="{% static 'images/upload_icon.svg'%}" alt="" class="user-icons">
                    <p class="left-aside-text">Upload Your CV</p>
                </div>
            </div>
        </div>
    </div>
    <div class="major-right-container">
        <div class="cards-container">
            <div class="section-card today">
                <p class="text">Jobs Applied Today</p>
                <p class="text number">{{ applications_today }}</p>
            </div>
            <div class="section-card week">
                <p class="text">Jobs Applied This Week</p>
                <p class="text number">{{ applications_this_week }}</p>
            </div>
            <div class="section-card month">
                <p class="text">Jobs Applied This Month</p>
                <p class="text  number">{{ applications_this_month }}</p>
            </div>
        </div>
        <div class="jobs-list">
            <table>
                <tr class="table-head">
                    <th class="table-title">Job Title</th>
                    <th class="table-title">Date Applied</th>
                    <th class="table-title">Email</th>
                    <th class="table-title">Status</th>
                    <!-- <th class="table-title">Is Favorite</th> -->
                </tr>
                <tbody>
                    {% for application in page_object %}
                        <tr class="table-row-card">
                            <td class="table-item">{{ application.job_applied.job_title }}</td>
                            <td class="table-item">{{ application.date_applied|date:"Y, M d-D" }}</td>
                            <td class="table-item">{{ application.job_applied.company_email }}</td>
                            <td class="table-item">{{ application.status }}</td>
                            <!-- <td class="table-item"><img src="{% static 'images/favorite_border.svg' %}" alt=""></td> -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
<!-- Pagination Controls -->
<div class="pagination">
    {% if page_object.has_previous %}
       
            <a href="?page={{ page_object.previous_page_number }}">previous</a>
     
    {% endif %}

    <!-- Display page numbers -->
    {% for num in page_object.paginator.page_range %}
        {% if num == page_object.number %}
            <div class="pagination-cell current">
                <span>{{ num }}</span>  <!-- Current page -->
            </div>
        {% else %}
            <div class="pagination-cell">
                <a href="?page={{ num }}">{{ num }}</a>  <!-- Other pages -->
            </div>
        {% endif %}
    {% endfor %}

    {% if page_object.has_next %}
      
            <a href="?page={{ page_object.next_page_number }}">next</a>
  
    {% endif %}
</div>
{% endblock %}